.navbar-color{
    background-color: #7650a7;
}
.navbar-links-custom{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

li{
    list-style-type: none;
    padding-left: 20px;
}

ul{
    display: flex;
}

.custom-deployable{
    background-color: #dfa7e4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.custom-deployable-completed{
    background-color: hsl(143, 53%, 77%);
    border-radius: 5px;
}

.custom-deployable-pending{
    background-color: rgb(186, 91, 14);
    border-radius: 5px;
    color: #fff;
}

.reviews-custom{
    display: flex;
    justify-content: space-around;
}
.custom-cicles{
    width: 25px;
    height: 25px;
    /* border: 5px solid #fff; */
    background-color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin: 0px 30px;
}
.custom-link{
    text-decoration: none;
    color: #fff;
}